/*
    ************** this file include session style ****** ***********
    *           this V.1.1.1 of mazad website at 3 abr 2018         *
    *          this file contains style session at all style        *
    *****************************************************************
*/

section.session-all{
    margin: auto;
    div.sessionConnect{
        div.sessionOffers{
            height: 70vh;
            margin-right: 8.333333333%;
            @include box-style(1);
            div.cir{
                margin: auto;
                @include cir(50px);
                overflow: hidden;
                img{
                    width: 50px;
                    height: 50px;
                }// end of img
            }//end of div.cir
            table{
                @include tbl();
            }
            div.scroll{
                margin: auto;
                padding-left: 10px;
                overflow-y: scroll;
                overflow-x: hidden;
                height: 340px;
            }
        }//end of session offer
        div.setOffer{
            div.offerInput.mrg-input{
                width: 38%!important;
                @include mrg-botton();
                right: 10px;
            }
        }
        div.sessionBroadCast{
            position: relative;
            @include box-style(1);
            div.mrg-input{
                @include mrg-botton();
            }//end of mrg-input
            @import "_message.scss";
        }//end of sessionBroadCast
    }// end of session connect
    div.cir2{
        @include cir(50px);
        margin: auto;
        cursor: pointer;
        padding-top: 6px;
        font-size: $font-lg;
        text-align: center;
        margin-bottom: 10px;
        color:$font-color;
    }
    div.errors{
        //background-color: $def;
        color: $font-color;
        font-size:$font-md;
        >span{
            display: block;
            width: 50%;
            overflow: hidden;
            box-shadow: 0px 0px 40px $red;
            padding: 5px;
            margin: 10px 0;
            //border: 1px solid $red;
        }
    }
}// end of section session all