.session-info{
    width: 100vw;
    height: (100vh - 12vh);
    background-color: $sec-color;
    position: fixed;
    top:12vh;
    left: 0px;
    z-index: 9999999;
    transform-origin: bottom;
    //transform: rotateX(90deg);
    @include smooth();
    //display: none;
    padding: 20px 0px 30px 50px;
    h2{
        background-color: $def;
        text-align: center;
        border-radius: 10px 0px;
        padding: 10px;
        @include box-shadow(0px 0px 20px $main-color);
        margin-bottom: 40px;

    }
    .cir{
        $wid: 150px;
        margin: auto;
        @include cir($wid);
        overflow: hidden;
        //box-shadow: 0px 0px 10px $main-color;
        animation: img 3s ease-in-out infinite;
        @include smooth();
        img{
            width: $wid;
            height: $wid;
        }
    }
    div.user-info{
        text-shadow: 0px 0px 10px $main-color;
        letter-spacing: 8px;
        padding-left: 20px;
        margin-bottom: 40px;
    }
    div.product{
        div{
            overflow: hidden;
            $wid:200px;
            @include cir($wid);
            box-shadow: 0px 0px 20px $main-color;
            position: relative;
            margin: 30px auto;
            &:after{
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: rgba(0,0,0,0.4);
            }
            img{
                width: $wid;
                height: $wid;
            }
        }
    }
    table{
        width: 100%;
        th{
            background: $main-color;
        }
        th.deff{
            background: $def;
        }
        
    }
}
@keyframes img{
    0%,100%{
        box-shadow: 0px 0px 10px $main-color;
    }
    50%{
        box-shadow: 0px 0px 30px $main-color;
    }
}



.rotate-0{
    transform: rotateX(0deg);
    @include smooth();
}

.align-left{
    text-align: left;
    padding-left: 30px;
}